


/* ----------- Fonts -----------*/
/*
@font-face
{
	font-family:mavenRegular;
	src:url(../fonts/MavenProRegular.otf) format("opentype");
}

@font-face
{
	font-family:mavenBold;
	src:url(../fonts/MavenProBold.otf) format("opentype");
}
*/

body
{
	
	margin: 0;
	padding: 0;
	height:auto;
	min-height:100%;
	
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	/*
	background-image:url('../images/nex_ipad_bg_1024x768.png');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	*/
	background:#cccccc;
}

#shadow
{
	
	position:absolute;
	overflow:auto;
	width:100%;
	height:846px;
	top:50%;
	margin:-423px 0px 0px 0px;
	background:#ffffff;
	background-image:url(../images/outer_shadow.png);
	background-repeat:x-repeat;

}

#logo
{
	
	position:absolute;
	width:550px;
	height:150px;
	top:20px;
	left:0px;
	background-image:url(../images/logo.png);
	background-repeat:x-repeat;

}

hr
{
	border:0;
	width:100%;
	height:1px;
	background:#6699CC;
	color:#6699cc;
}

#title
{
	font-size:1.25em;
	color:#6699cc;
	margin:20px 0px 0px 0px;
}

#thumb_scroll_container
{
	position:absolute;
	overflow:auto;
	width:100%;
	height:500px;
	top:50%;
	margin:-250px 0px 0px 0px;
	background:#6699CC;
	background-image:url(../images/inner_shadow.png);
	background-repeat:x-repeat;
	
}

#reflection_fade
{
	position:absolute;
	overflow:auto;
	width:100%;
	height:125px;
	bottom:0px;

	background-image:url(../images/reflection_fade.png);
	background-repeat:x-repeat;
}

.scroller 
{
	width:0px;
	min-width:100%;
	height:100%;
	/*
	padding-left:50%;
	margin-left:-200px;
	*/
}

.scroller ul 
{
	position:absolute;
	list-style:none;
	display:block;
	width:100%;
	height:350px;
	top:50%;
	padding:0;
	margin:-225px 0px 0px 0px;
	text-align:left;
}

.scroller li 
{
	display:block;
	vertical-align:middle;
	float:left;
	
	margin:0px 10px 0px 10px;
	width:400px;
	height:100%;

	font-size:14px;
}

.flip-vertical 
{
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv; /*IE*/
}
