


/* ----------- Fonts -----------*/
/*
@font-face
{
	font-family:mavenRegular;
	src:url(../fonts/MavenProRegular.otf) format("opentype");
}

@font-face
{
	font-family:mavenBold;
	src:url(../fonts/MavenProBold.otf) format("opentype");
}
*/

a, a:link, a:visited, a:hover, a:active   
{
    color:#95a7bc;
    text-decoration: underline;
}

.blue
{
	color:#B6CDE9;
	color:#d2d2d2;
	color:#FFFFFF;
	
color:#B6CDE9;
}

.grey
{
	color:#95A7BC;
	
	color:#c3c3c3;
	color:#b1b1b1;
	color:#FFFFFF;
	color:#95A7BC;
	color:#b1b1b1;
}

body
{
	
	margin: 0;
	padding: 0;
	height:auto;
	min-height:100%;
	
	font-family:Helvetica, Arial, sans-serif;
	color:#000000;
	/*
	background-image:url('../images/nex_ipad_bg_1024x768.png');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	*/

	
	background:#ffffff;
	
}

#wrapper
{
	
	

	overflow:hidden;
	width:100%;
	height:auto;
	
	
	
	
	
	
}

#header
{
	/*padding won't affect size of element'*/
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	
	padding:10px;
	display:inline-block;
	width:100%;
	height:auto;
	overflow:hidden;
	
	/*
	background:#d2d2d2;
	
	border-style: solid;
	border-width:5px 0px 5px 0px;
	border-color:#ffffff;
	*/
}

#logo
{

	display:inline;
	font-size:2em;
	font-weight:bold;
	position:relative;
	max-width:50%;
	width:auto;
	height:100%;
	text-align:left;
}

#cloud
{
	font-size:.8em;
	font-weight:bold;
	display:inline;
	position:relative;
	max-width:50%;
	width:auto;
	height:auto;
	float:right;
	text-align:center;
}

#cloud span
{
	margin-right:10px;
}

#footer
{
	/*padding won't affect size of element'*/
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	
	padding:10px;
	
	display:inline-block;
	width:100%;
	height:auto;
	overflow:hidden;
	
	/*
	background:#b8b8b8;
	
	
	border-style: solid;
	border-width:5px 0px 0px 0px;
	border-color:#ffffff;
	*/
}

#name
{
	display:block;
	font-size:2em;
	font-weight:bold;
	position:relative;
	max-width:100%;
	width:100%;
	height:100%;

	float:none;
	text-align:center;
}


#contact
{
	
	
	display:block;
	width:100%;
	height:auto;
	float:none;
	text-align:center;
}


hr
{
	border:0;
	width:100%;
	height:1px;
	background:#6699CC;
	color:#6699cc;
}

#title
{
	font-size:1.25em;
	color:#6699cc;
	margin:20px 0px 0px 0px;
}

#content
{
	position:relative;
	display:block;
	overflow:hidden;
	width:100%;
	height:500px;
	/*top:170px;*/
	
	/*
	background:#6699CC;
	background-image:url(../images/inner_shadow.png);
	background-repeat:x-repeat;
	*/
	
}

#thumb_scroll_container
{
	position:absolute;
	display:block;
	overflow:hidden;
	width:100%;
	height:100%;
	/*top:170px;*/
	
	
	background:#ffffff;
	/*
	background-image:url(../images/inner_shadow.png);
	background-repeat:x-repeat;
	*/
	
}

#reflection_fade
{
	position:absolute;
	overflow:hidden;
	width:100%;
	height:120px;
	bottom:0px;
	
	
	background-image:url(../images/reflection_fade.png);
	background-repeat:x-repeat;
	
}

.scroller 
{
	width:0px;
	min-width:100%;
	height:100%;
	/*
	padding-left:50%;
	margin-left:-200px;
	*/
	
}

.scroller ul 
{
	position:absolute;
	list-style:none;
	display:block;
	width:100%;
	height:350px;
	top:50%;
	padding:0;
	margin:-225px 0px 0px 0px;
	text-align:left;
	
	
	
}





.scroller li 
{
	display:block;
	vertical-align:middle;
	float:left;
	margin:0px 10px 0px 10px;
	width:400px;
	height:100%;

	font-size:14px;
	-webkit-perspective: 1000px; /* Chrome, Safari, Opera */
	perspective: 1000px;
	 
   
}

.scroller li img
{
	border-style: solid;
	border-width:5px;
	border-color:#b6cde9;
	
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-transform:rotateX(60deg) rotateZ(35deg);
	transform:rotateX(60deg) rotateZ(35deg);
	
	box-shadow: 0px 5px 10px #000000;
}

.scroller li img.no_border 
{
	border-style:none;
	/*background:#B6CDE9;*/
	background:#95A7BC;
}

.scroller li a, .scroller li a:link, .scroller li a:visited, .scroller li a:hover, .scroller li a:active   
{
    color:#ffffff;

}

.flip-vertical 
{
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv; /*IE*/
   display:none;
   

}

/*small width*/
@media only screen and (min-width:769px) and (max-width:875px)
{
	#logo
	{
		font-size:2em;
	}
	
	#name
	{
		font-size:2em;
	}
	
	#cloud
	{
		font-size:.8em;
	}
}

/*mobile styles*/
@media only screen and (max-width:767px)
{
	#logo
	{
		display:block;
		max-width:100%;
		width:100%;
		height:auto;
		float:none;
		text-align:center;

	}

	#cloud
	{
		font-size:.8em;
		max-width:100%;
		display:block;
		width:100%;
		height:auto;
		float:none;
		text-align:center;
	}
	
	
}